@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@media screen and (min-width: 800px ) {
    body{
        align-items: center;
        height: 100vh;
    }

    header{
        width: 100%;
        max-width: 600px;
    }

    main{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #informacoes{
        width: 600px;
    }

    h1{
        text-align: left;
    }

    p{
        text-align: justify;
    }

    #links > a{
        width: 300px;
    }
    
    #foto{
        width: 40%;
    }

    #foto > img{
        top: 0%;
        left: 0%;
        width: 250px;
        height: 250px;
    }
    
    #ImageBorder{
        top: -4%;
        left: 4%;
        width: 250px;
        height: 250px;
    }
}